* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
.wrapper {
    margin: 0 auto;
    width: 85%;
}
.post{
    display: flex;
    margin-top: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    border-top: 1px solid #e4e6e7;
    border-bottom: 1px solid #e4e6e7;
}
.post_img {
    width: 90px;
    height: 90px;
    margin: 10px 15px 10px 0;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}
.info_title{
    display: flex;
}
.info_title__name, .info_title__secondName {
    margin-right: 10px;
    font-weight: 700;
    color: #3b5c9f;
}
.info_title__career{
    font-weight: 300;
    color: #9da5ad;
}
.info_text {
    font-weight:600;
}
.info_subtitle{
    display: flex;
}
.info_subtitle__like, .info_subtitle__reply {
    margin-right: 10px;
    font-weight: 500;   
    color: #3b5c9f;
}
.info_subtitle__time {
    font-weight: 350;
    color: #9da5ad;
}